<section class="modal">
  <form>
    <label for="name">Name</label>
    <input type="text" name="name" />
    <button type="submit">Create</button>
  </form>
</section>

<style>
  section {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 10px;
    width: max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 3px 3px 5px #aaa;

    &.modal-open {
      display: grid;
    }

    & > form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: #000;

      & > label {
        font-weight: bold;
      }

      & > input {
        width: 90%;
        border-radius: 10px;
        border: none;
        padding: 10px;
        outline: none;
      }

      & > button {
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: var(--secondary-color);
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
</style>
