<section class="modal">
  <form>
    <label for="name">Name</label>
    <input type="text" name="name" />
    <button type="submit">Create</button>
  </form>
</section>

<script>
  const form = document.querySelector(".modal > form") as HTMLFormElement
  const input = document.querySelector(
    ".modal > form > input",
  ) as HTMLInputElement

  form?.addEventListener("submit", (e) => {
    e.preventDefault()

    const data = new FormData(form)

    const project_name = data.get("name")

    if (!project_name) {
      // TODO: control this with alert
      input.classList.add("error")
      return
    }

    input.classList.remove("error")

    fetch(`/api/createProject`, {
      method: "POST",
      headers: {
        "Content-type": "application/json",
      },
      body: JSON.stringify({ name: project_name }),
    })
      .then(async (res) => {
        if (!res.status) {
          const body = await res.json()
          console.error(body.error)
          input.classList.add("error")
          return
        }
        return res
      })
  })
</script>

<style>
  section {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 10px;
    width: max-content;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 3px 3px 5px #aaa;

    &.modal-open {
      display: grid;
    }

    & > form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: #000;

      & > label {
        font-weight: bold;
      }

      & > input {
        width: 90%;
        border-radius: 10px;
        border: none;
        padding: 10px;
        outline: none;
        border: 2px solid transparent;

        &.error {
          border-color: red;
        }
      }

      & > button {
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: var(--secondary-color);
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
</style>
