---
interface Props {
  slug: string
  name: string
}

const { slug, name } = Astro.props
---

<article>
  <a href={`/project/${slug}`}>
    <p>{name}</p>
    <!-- Is an option show the data like todoNum, doingNum, doNum -->
  </a>
</article>

<style>
  article {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: #000;

    & p {
      font-size: 18px;
    }

    & a {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;

      transition: scale 0.5s;
    }
  }
</style>
