---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --background-color: #202b38;
    --lime: #5dc1b9;
    --background-lighter: color-mix(in srgb, var(--background-color), white 75%);
    --background-light: color-mix(in srgb, var(--background-color), white);
    --background-dark: color-mix(in srgb, var(--background-color), black 25%);
    --background-darker: color-mix(in srgb, var(--background-color), black);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  body {
    background-color: var(--background-color);
    color: #fff;
  }
</style>
